@import '../../node_modules/antd/dist/antd.css';

.App {
  text-align: center; min-width:300px;
}
.App-intro {
  font-size: large;
}

/* header */
.App-header {
  background-color: #222; height: 80px; padding: 10px; min-width: 1000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear; height: 60px; float: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-title { float: left;}
.project-name { font-size: 2em;margin-bottom: 0.05em; color: #61DAFB; text-align: left;}
.project-tool { font-size: 1em;color: white;margin-left: 1em;margin-top: -1em;}

.logout {
  padding: 25px 20px; color: #46c3fb; float: right;
}


/* main */
.main { justify-content:center; min-width: 400px; margin: 7% 40% 0 30% }
.login-form { margin-left: 40%; }
.login-button { width: 30%; }
.register-bottom { width: 40%; margin-right: 10%; }
.register-note { margin: 20px 10%; line-height: 1.5em;}

