@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

/* header */
.App-header {
  background-color: #222; height: 80px; padding: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear; height: 60px; float: left;
}
.App-title { float: left;}
.project-name { font-size: 2em;margin-bottom: 0.05em; color: #61DAFB;text-align: left;}
.project-tool { font-size: 1em;color: white;margin-left: 1em;margin-top: -1em;}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
